* {
    box-sizing: border-box;
}

h1,h2 {

    text-align: center;
}

form {
    text-align: center;
}
button {
    display: block;
    align-items: center;
    margin: 20px auto;
}

h2{
    color: red;
    font-weight: bold;
    font-size: 100px;
}